include README.md LICENSE CITATION.cff CHANGELOG.md SECURITY.md
recursive-include scripts/plot *.py py.typed
recursive-include examples *.py
recursive-include references *.md
recursive-include docs *.md
recursive-include tests *.py
recursive-include .github *.yml *.md
